قوانین:
فحش = *اخراج*
اسپم ممنوع
مسخره بازی مجازه
خنده مجازه
استیکر کمش مجازه
محتوای ترسناک ممنوع
گندکاری هم مجازه
هر گونه مسخره کردن بقیه ی بچه ها یا فرستادن استیکر از انها ممنوع بوده و برابر *اخراج* است.تنها با اجازه از انها
دخالت در کارای مدیریت گروه کاملا مربوط به مدیر است و هر 
جر و بحث ممنوع 🚫 
کپی از بقیه *ممنوع*
گونه دخالت توسط افراد برابر *اخراج * است
انگلیسی نوشتن ممنوع
فینگلیش ممنوع
خبر خوب:
این گروه توسط آقای شکور تایید صلاحیت شده و کاملا امن است
دوستان گروه یازده بسته میشه و نه باز میشه 
هر چند وقت یکبار پرسشنامه داریم
ارتقای سطح داریم
سطوح:
کاربر
مود
سوپر مود
مدیر
وزیر
دستیار 
ادمین

برای ارتقای سطح هم راه هایی هست مثل فعال بودن یا شرکت در پرسشنامه ها
هر سطحی امکانات خودشو داره
حتی بعضی از سطوح امکانات ویژه ای دارند
میتونی دوستانتون رو دعوت کنید تا ارتقای سطح داشته باشید
تبلیغات کاملا غیر مجاز میباشد
📦
